# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/

# Database
*.db

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Static (generated)
vodila/static/

# Environment
.env

# Docker
data/
